<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="Pluf">
			<!-- Groups -->
			<directory>tests/Group/</directory>
			<!-- Roles -->
			<directory>tests/Role/</directory>
			<!-- Users -->
			<directory>tests/User/</directory>
			<directory>tests/User_Monitor/</directory>
			<directory>tests/User_Password_Token/</directory>
			<directory>tests/User_REST/</directory>
			<directory>tests/User_Profile_API/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
	<logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>